h2{color:black;}
head{font-family:'Calibri','Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;}
.table {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
}
.table li:nth-child(even){
    background-color: rgb(187, 186, 186);
}